<!DOCTYPE html>
<html>
<head>
  <title>FarmaTop</title>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <h1>Lista de Remédios</h1>
  <ul>
    <% remedios.forEach(remedio => { %>
      <li><%= remedio.nome %></li>
      <ul><%= remedio.descricao %></ul>
      <ul><%= remedio.indicacao %></ul>
      <ul><%= remedio.modoDeUsar %></ul>
      <ul><%= remedio.efeitosColaterais %></ul>
    <% }); %>
  </ul>
  <a href="/formulario">Cadastrar Novo Remédio</a>
</body>
</html>
