<!DOCTYPE html>
<html>
<head>
  <title>FarmaTop</title>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <h1>Lista de Remédios</h1>
  <ul>
    <% remedios.forEach(remedio => { %>
      <ul><%= remedio.nome %></ul>
      <li><%= remedio.descricao %></li>
      <li><%= remedio.indicacao %></li>
      <li><%= remedio.modoDeUsar %></li>
      <li><%= remedio.efeitosColaterais %></li>
    <% }); %>
  </ul>
  <a href="/formulario">Cadastrar Novo Remédio</a>
</body>
</html>
